<div class="container">
  <div class="row">
    <div class="col-md-9">
      <a href="attachment/?days_ago=<%= params['days_ago'].to_i + 1 %>">← Previous Day</a>
      &nbsp;
      <a href="bookmarks/?days_ago=<%= params['days_ago'].to_i - 1 %>">Next Day →</a>
      &nbsp;
      <a href="bookmarks/">Today</a>
      <a href="bookmarks/new" class="btn pull-right">New</a>
    </div>
  </div>

  <table class="table">
    <tr>
      <td>
        <% @bookmarks.each do |bookmark| %>
          Bookmark
        <% end %>
      </td>
    </tr>
  <table>
</div>
