<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="page-header">
        <h2>New Bookmark</h2>
      </div>
      <%= form_tag '/bookmarks', role: 'form' do %>
        <div class="form-group">
          <%= text_field "bookmark.title", @bookmark.title, placeholder: "Title", class: "form-control" %><br>
          <%= text_field "bookmark.url", @bookmark.url, placeholder: "URL", class: "form-control" %><br>
          <textarea name="bookmark.description" class="form-control" placeholder="Description"></textarea>
        </div>
        <button type="submit" class="btn btn-default">Save</button>
      <% end %>
    </div>
  </div>
</div>
