<div class="container">
  <%= form_tag '/bookmarks' do |f| %>
    <%= text_field "bookmark[name]", @bookmark.title %><br>
    <%= text_field "bookmark[url]", @bookmark.url %><br>
    <%= submit_tag "Save", class: 'btn' %>
  <% end %>
</div>
