<% wrap_with 'layout' %>

<div class="page broadsheet" id="cover" style="top: 0px;">
  <div class="grid grid24">
    <%= render 'section_nav' %>
    <%= render 'mastheads/main' %>
    <%= yield %>
  </div>
</div>
