@import 'variables';
@import 'grid/config';

.masthead {
  text-align: center;
  display: block;
  margin: 0 auto;
  border-top: 0;
  position: relative;

  h1 {
    line-height: 1em;
    padding-top: 10px;
    margin-top: 0;
    /*transition: font-size .5s;*/
  }
  a.home {
    margin: -27px auto 5px;
    display: block;
    width: 140px;
    height: 20px;
  }
}

.masthead-foot {
  font-family: 'PT Serif', serif;
  border-top: 1px solid $line-color;
  border-bottom: 2px solid $line-color;
  text-align: center;
  padding: 3px 0;

  .publish-date {
    text-transform: uppercase;
    margin: 0 auto;
    width: 300px;
  }
}
