@import 'variables';

// Section nav is along the top, not to be confused with section-menu, which is
// along the side.

a.hover {
  text-decoration: underline !important;
}

.sections-nav {
  list-style: none;
  border-bottom: 1px solid $line-color;
  height: 30px;
  line-height: 30px;
  text-align: center;


  li {
    float: left;
    display: block;
    &:before {
      display: block;
      float: left;
      padding: 0 10px 0 3px;
      content: ' • ';
    }
    &:first-child {
      &:before {
        content: '';
      }
    }
  }
}
