<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700,300' rel='stylesheet' type='text/css'>
<style>
  body {
    font-family: 'Open Sans';
  }
  .note {
    border-bottom: 1px solid #efefef;
    padding: 2pt;
    margin: 1em auto;
    width: 600pt;
  }
  .note img {
    max-width: 500px;
    border-radius: 4px;
  }
</style>
<% @notes.each do |note| %>
  <div class="note">
    <h2><%= note[:path] %></h2>
    <%= raw(note[:html]) %>
  </div>
<% end %>
