<style>
  .note {
    border-bottom: 1px solid #efefef;
    padding: 2pt;
    margin: 1em auto;
    width: 600pt;

  }
  .note img {
    max-width: 500px;
    border-radius: 4px;
  }
</style>
<% @notes.each do |note| %>
  <div class="note">
    <%= raw(note[:html]) %>
  </div>
<% end %>
