<div class="container">
  <%#= render 'editions/editions_navbar' %>
  <h1>Mast Head</h1>
  <%= @masthead.name %>
  <br>
  <%= @masthead.source %>
  <br>
  <%= link_to "Edit", edit_masthead_path(@masthead) %>
  |
  <%= link_to "Preview", preview_masthead_path(@masthead) %>
</div>
