<div class="row">
  <div class="col span<%= content_region.column_width %>" style="height: <%= content_region.pixel_height %>px; overflow: hidden;">
    <div id="batkid">
      <h1>Our Hero</h1>
      <h2>Batkid knocks out S.F., captures hearts around the globe</h2>
      <div class="video-feature" src="assets/batkid.mp4" thumbnail="assets/articles/batkid.jpg">
        <div class="video-cover" style="background-image: url(assets/articles/batkid.jpg);" ng-click="beginVideo()"></div>
        <video class="span16" controls="">
          <source src="assets/batkid.mp4" type="video/mp4">
        </video>
        <span class="play-button-overlay"></span>
      </div>
      <hr class="news-column-double-rule">
      <div class="row">
        <div class="col span8">
          <p class="typeset"><span class="line">As technical failures bedevil the rollout of President</span> <span class="line">Obama’s health care law, evidence is emerging that one</span> <span class="line">of the program’s loftiest goals — to encourage competition</span> <span class="line">among insurers in an effort to keep costs low — is falling</span> <span class="line">short for many rural Americans. </span> </p><p class="typeset"><span class="line">While competition is intense in many populous</span> <span class="line">regions, rural areas and small towns have far fewer carriers</span> <span class="line">offering plans in the law’s online exchanges. Those places,</span> <span class="line">many of them poor, are being asked to choose from some of</span> <span class="line">the highest-priced plans in the 34 states where the federal</span> <span class="line">government is running the health insurance marketplaces,</span> <span class="line">a review by The New York Times has found. </span> </p><p class="typeset"><span class="line">Of the roughly 2,500 counties served by the federal</span> <span class="line">exchanges, more than half, or 58 percent, have plans</span> <span class="line">offered by just one or two insurance carriers, according to an</span> <span class="line">analysis by The Times of county-level data provided by the</span> <span class="line">Department of Health and Human Services. In about 530</span> <span class="line">counties, only a single insurer is participating. </span> </p>
        </div>
        <div class="col span8">
          <p class="typeset"><span class="line">The analysis suggests that the ambitions of the</span> <span class="line">Affordable Care Act to increase competition have unfolded</span> <span class="line">unevenly, at least in the early going, and have not addressed</span> <span class="line">many of the factors that contribute to high prices. Insurance</span> <span class="line">companies are reluctant to enter challenging new markets,</span> <span class="line">experts say, because medical costs are high, dominant</span> <span class="line">insurers are difficult to unseat, and powerful hospital</span> <span class="line">systems resist efforts to lower rates. </span> </p><p class="typeset"><span class="line">“There’s nothing in the structure of the Affordable</span> <span class="line">Care Act which really deals with that problem,” said John</span> <span class="line">Holahan, a fellow at the Urban Institute, who noted that</span> <span class="line">many factors determine costs in a given market. “I think that</span> <span class="line">all else being equal, premiums will clearly be higher when</span> <span class="line">there’s not that competition.” </span> </p><p class="typeset broken"><span class="line">The Obama administration has said 95 percent of</span> <span class="line">Americans live in areas where there are at least two insurers</span> <span class="line">in the exchanges. But many experts say two might not be</span> </p>
        </div>
      </div>
    </div>
  </div>
</div>
