<% @pages.each_with_index do |page, i| %>
  <div class="broadsheet" style="height: <%= page.pixel_height %>px">
    <div class="row">

      <%= render 'page_header', page: page unless page.number == 1 %>

      <% if composing? %>
        <div class="col span24">
          <input class="add-content-btn" type="button" value="Add Content Region" data-page-number="<%= page.number %>" data-page-id="<%= page.id %>"></input>
        </div>
      <% end -%>

    </div>
  </div>
<% end -%>
