<div class="broadsheet">
  <div class="row">
    <div class="col span16">
      <div id="batkid">
        <h1>Our Hero</h1>
        <h2>Batkid knocks out S.F., captures hearts around the globe</h2>
        <div class="video-feature" src="assets/batkid.mp4" thumbnail="assets/articles/batkid.jpg">
          <div class="video-cover" style="background-image: url(assets/articles/batkid.jpg);" ng-click="beginVideo()"></div>
          <video class="span16" controls="">
            <source src="assets/batkid.mp4" type="video/mp4">
          </video>
          <span class="play-button-overlay"></span>
        </div>
        <hr class="news-column-double-rule">
        <div class="row">
          <div class="col span8">
            <p class="typeset"><span class="line">As technical failures bedevil the rollout of President</span> <span class="line">Obama’s health care law, evidence is emerging that one</span> <span class="line">of the program’s loftiest goals — to encourage competition</span> <span class="line">among insurers in an effort to keep costs low — is falling</span> <span class="line">short for many rural Americans. </span> </p><p class="typeset"><span class="line">While competition is intense in many populous</span> <span class="line">regions, rural areas and small towns have far fewer carriers</span> <span class="line">offering plans in the law’s online exchanges. Those places,</span> <span class="line">many of them poor, are being asked to choose from some of</span> <span class="line">the highest-priced plans in the 34 states where the federal</span> <span class="line">government is running the health insurance marketplaces,</span> <span class="line">a review by The New York Times has found. </span> </p><p class="typeset"><span class="line">Of the roughly 2,500 counties served by the federal</span> <span class="line">exchanges, more than half, or 58 percent, have plans</span> <span class="line">offered by just one or two insurance carriers, according to an</span> <span class="line">analysis by The Times of county-level data provided by the</span> <span class="line">Department of Health and Human Services. In about 530</span> <span class="line">counties, only a single insurer is participating. </span> </p>
          </div>
          <div class="col span8">
            <p class="typeset"><span class="line">The analysis suggests that the ambitions of the</span> <span class="line">Affordable Care Act to increase competition have unfolded</span> <span class="line">unevenly, at least in the early going, and have not addressed</span> <span class="line">many of the factors that contribute to high prices. Insurance</span> <span class="line">companies are reluctant to enter challenging new markets,</span> <span class="line">experts say, because medical costs are high, dominant</span> <span class="line">insurers are difficult to unseat, and powerful hospital</span> <span class="line">systems resist efforts to lower rates. </span> </p><p class="typeset"><span class="line">“There’s nothing in the structure of the Affordable</span> <span class="line">Care Act which really deals with that problem,” said John</span> <span class="line">Holahan, a fellow at the Urban Institute, who noted that</span> <span class="line">many factors determine costs in a given market. “I think that</span> <span class="line">all else being equal, premiums will clearly be higher when</span> <span class="line">there’s not that competition.” </span> </p><p class="typeset broken"><span class="line">The Obama administration has said 95 percent of</span> <span class="line">Americans live in areas where there are at least two insurers</span> <span class="line">in the exchanges. But many experts say two might not be</span> </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col span8">
      <div class="news-column-left-border" id="twitter-ipo">
        <div class="">
          <h3 class="garamond text-center">Twitter Prices It's Initial Offering at $26 Per Share</h3>
        </div>
        <hr class="short-hr">
        <div class="text-column">
          <span class="by-line">By <strong>Vindu Goel</strong></span>
          <p class="typeset">
            <span class="line">SAN FRANCISCO — Twitter, long protected in</span> <span class="line">its Silicon Valley nest, is about to venture into the more</span> <span class="line">unforgiving world of Wall Street. </span> </p><p class="typeset"><span class="line">But as it makes the transition to a publicly traded</span> <span class="line">company, attracting and retaining users has become one</span> <span class="line">of its biggest challenges. </span> </p><p class="typeset"><span class="line">Twitter’s interface can be daunting to newcomers.</span> <span class="line">A user has to invest a lot of time to figure out the right</span> <span class="line">accounts to follow and to understand the unique jargon</span> <span class="line">of the service. </span> </p><p class="typeset"><span class="line">And its fundamental design — every 140-character</span> <span class="line">tweet is delivered in chronological order, no matter how</span> <span class="line">important or trivial — means that compelling information</span> <span class="line">can be lost in a sea of babble. </span> </p><p class="typeset"><span class="line">“You see the stream of posts coming at you, and</span> <span class="line">it’s really overwhelming,” said Debra Aho Williamson,</span> <span class="line">a principal analyst who studies Twitter and other social</span> <span class="line">media for eMarketer, a research firm. “It’s all jumbled.” </span> </p><p class="typeset"><span class="line">On Wednesday, Twitter set the price of its initial</span> <span class="line">public offering at $26 a share, valuing the company at</span> <span class="line">$18.1 billion. Twitter shares are set to begin trading on</span> <span class="line">Thursday on the New York Stock Exchange. </span> </p><p class="typeset"><span class="line">With 70 million shares sold in the offering, Twitter</span> <span class="line">raised $1.8 billion. The I.P.O.’s price, the subject of</span> <span class="line">debate between the board and its underwriters until</span> <span class="line">late on Wednesday afternoon, was above an already</span> <span class="line">heightened price range, reflecting the strong demand for</span> <span class="line">the company’s stock. </span> </p><p class="typeset"><span class="line">Seven and a half years after its founding, the</span> <span class="line">service has become an influential public forum, used by</span> <span class="line">world leaders, dissidents, celebrities, small businesses,</span> <span class="line">megacorporations and tens of millions of regular people</span> <span class="line">who want to listen or join in the conversation. </span> </p><p class="typeset"><span class="line">But rethinking the design of the service to reach a</span> <span class="line">broader audience has been a lower priority for Twitter’s</span> <span class="line">leadership team. Instead, the company has focused more</span> <span class="line">on the technical challenges of running the service and</span> <span class="line">on creating sources of revenue, according to current</span> <span class="line">and former Twitter employees. At the same time, the</span> <span class="line">company has no obvious product visionary like the former</span> <span class="line">Apple chief executive Steve Jobs to reimagine what the</span> <span class="line">service could or should be to attract new users. </span>
          </p>
          <p class="text-center"><em><a href="">Continued on Page B4</a></em></p>
        </div>
      </div>
    </div>
  </div>
</div>
