<table class="table table-bordered">
  <thead>
    <tr>
      <th>Editions</th>
    </tr>
  </thead>
  <% editions.each do |edition| %>
    <tr>
      <td><%= link_to edition.name, edition %></td>
    <tr>
  <% end %>
</table>
