<%# TODO: Needs to be moved to layout module %>
<div class="col span24">
  <div class="sticky-header">
    <div class="page-header">
      <strong><%= @section.letter %><%= page.number %> &bull; <%= edition.publish_date.strftime("%A, %B %d, %Y") %> </strong> &bull; www.sfrecord.com
    </div>
  </div>
</div>
