<div id="edition-toolbar" class="compose-toolbar" edition-toolbar>
  <div class="container">
    <div class="newstime-logo">
      <%= render 'newstime_pendulum_logo' %>
    </div>
    <nav>
    <ul>
      <li class="active">
        <a>Edition</a></li>
      <li>
        <a>Section</a></li>
    </ul>
    </nav>
  </div>
</div>
<div class="compose-toolbar-panel">
  <div class="container">
    <%= render 'editions/form' %>
  </div>
</div>
