<div id="edition-toolbar" class="compose-toolbar" edition-toolbar>
  <div class="container">
    <div class="newstime-logo">
      <%= render 'newstime_pendulum_logo' %>
    </div>
    <nav>
    <ul>
      <li class="active">
        <a>Edition</a></li>
      <li>
        <a>Section</a></li>
    </ul>
    </nav>
  </div>
</div>
<div class="compose-toolbar-panel">

  <div class="container">
    <%= simple_form_for edition do |f| %>
      <%= f.input :name, hint: "The name of the edition, to refer to in the UI." %>
      <%= f.button :submit, class: 'btn-default btn-primary' %>
    <% end %>
  </div>
</div>
