<div class="nt-compose-toolbar">
  <div class="container">
    <div class="newstime-logo">
      <%= render 'newstime_logo' %>
    </div>
    <nav>
    <ul>
      <li><a>Edition</a></li>
      <li><a>Section</a></li>
    </ul>
    </nav>

  </div>
</div>
