<!DOCTYPE html>
<html>
<head>
  <title>Press</title>
  <%= composer_stylesheet  %>
  <%= csrf_meta_tags %>

  <style>
  ol.horizontal-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  ol.horizontal-list li {
    display: inline;
    float: left;
    margin: 0 5px;
  }

  ol#download-progress-bar li.current-step {
    font-weight: 700;

  }
  </style>

</head>
<body>
  <%= render 'flash' %>

  <%= @edition %>
  <ol id="download-progress-bar" class="horizontal-list">
    <li class="current-step">
      Print
    </li>
    <li>
      Sign
    </li>
    <li>
      Deliver
    </li>
  </ol>

  <br>
  <p class="lead">
    Here you can print a virtual copy of your edition. Once printed, it can be signed and distributed to your readers.
  </p>
  <p class="lead">
    <strong>All set to print?</strong>
    <br>
    Press the print button to kick things off &amp; continue now.
  </p>
  <input type="button" value="Print Edition">


</body>
</html>
