<div class="container">
  <div class="btn-group pull-right">
    <%= link_to 'New', new_edition_path, class: 'btn btn-link' %>
  </div>
  <hr>
  <%= render 'list_editions', editions: @editions %>
</div>
