<div class="editions-index">
  <table class="table">
    <tr>
      <td>
        <%= link_to "Start New Edition", new_edition_path %>
      </td>
    </tr>
    <tr>
      <td></td>
    </tr>
  </table>

  <div>
    <% @editions.each do |edition| %>
      <div class="edition">
        <%= link_to compose_edition_path(edition) do %>
          <span class="edition-name"><%= edition.name %></span>
          <%= image_tag "#{wip_edition_path(edition, 'png')}" %>
        <% end %>
      </div>
    <% end %>
  </div>

</div>
