
<% content_for :head do %>
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, user-scalable=no">
  <!-- <link href="https://fonts.googleapis.com/css?family=Sacramento|Bad+Script|Spirax" rel="stylesheet"> -->
  <%= google_fonts 'Sacramento' %>
  <style type='text/css'>

    body {
      background: #ffd7ee;
    }

    .screenname {
      background: #ffd7ee !important;
      font-family: 'Sacramento';
      font-size: 22pt;

    }
    .compose-toolbar a {
      color: #fd44ec !important;
    }

    .editions-new {
        margin-top: 130px;
        font-family: 'Sacramento', cursive;
        /* color: #fd44ec; */
        color: #c225ff;
        font-size: 22pt;
    }

    .btn {
      background-color: aqua;
      width: 100%;
      font-size:      16pt;
      height: 60px;
    }

    form {
      width: 420px;
      margin: 145px auto 0;
    }

    label {
      text-align: right;
           width: 500px;
         display: block;
         margin: 0 auto;
       font-size: 1.3em;
    }

    field {
              margin-top: -12px;
                 display: block;
      border: 2px solid #f713e2;
             border-radius: 5px;
                   height: 49px;
        background-color: white;
    }

    input, select {
           font-family: 'Sacramento', cursive;
                              font-size: 32pt;
                               color: #f713e2;
                             background: none;
                                 border: none;
                                outline: none;
                               padding-top: 0;
                            text-indent: 10px;
    }

    input[type=submit] {
      /* border: 2px solid #f713e2;
      border-radius: 5px; */
    }

    input[type=text], select {
      width: 100%;
    }


    p {
      max-width: 400px;
    }

  </style>
<% end %>


<div class="editions-new">
  <form action='/editions' method=POST>
    <%= token_tag nil %>

  <% if @publications.empty? || params[:pubnew] %>
  <%  unless params[:pubnew] %>
    <p>
    You don't have any publications.
    You can create one just by
    giving it a name.
    </p>
  <% end %>

  <label>Name your publication</label>
  <field>
    <input type=text name=publication[name] autocomplete=off></input>
  </field>
  <% unless @publications.empty? %>
  <p>Or choose an <a href='/editions/new'>existing publication</a>.</p>
  <% end %>
  <br>
  <% else %>
  <p>
  Choose a publication from the list below, or <a href="?pubnew=x">create a new one</a>.
  </p>
  <label>Publication</label>
  <field>
  <select name=publication[name]>
  <% @publications.each do |pub| %>
      <option value="<%= pub.name %>"><%= pub.name %></option>
  <% end %>
  </select>
  </field>
  </p>
  <br>
  <% end %>

  <label>Give your edition a title</label>
  <field>
    <input type=text name=edition[title] autocomplete=off></input>
  </field>
  <br>

  <input type='submit'
    value='Create'></input>

   <img src="/Flowers/rect5741.png"
       style="width: 20px;"></img>
  </form>
</div>
