<div class="editions-new">
  <h2>New Edition</h2>
  <%= render 'form', edition: @edition, new: true %>
</div>
<style>
  .btn {
    background-color: aqua;
    width: 100%;
    font-size:      16pt;
    height: 60px;
  }
</style>
