<div class="container">
  <h4>
    <%= @edition.name %>
  </h4>

  <%= link_to "Edit", edit_edition_path(@edition) %>
  |
  <%= link_to "Preview", preview_edition_path(@edition) %>

  <pre><%= @edition.source %></pre>
</div>
