<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700,300' rel='stylesheet' type='text/css'>
<style>
  body {
    font-family: 'Open Sans';
  }
  .entry {
    padding: 2pt;
    margin: 1em auto;
    width: 600pt;
  }
  .entry img {
    max-width: 500px;
    border-radius: 4px;
  }
  textarea {
    width: 589pt;
    height: 200px;
  }
</style>
<div class="entry">
  <h2><%= @entry[:formatted_date_time] %></h2>
  <textarea><%= raw(@entry[:markdown]) %></textarea>
  <br>
  <a href="javascript:history.back();">Cancel</a>
  <input class="btn btn-primary pull-right" type="submit" value="Save Changes"></input>
</div>
