<script src="/assets/ace/ace.js" type="text/javascript" charset="utf-8"></script>

<div class="container">
  <%= stylesheet_link_tag 'entries' %>
  <div class="entry clearfix">
    <%= form_tag "/entries/#{@entry.path}", role: "form" do %>
      <h2><%= @entry.formatted_date_time %></h2>
      <textarea name="markdown"><%= @entry.markdown %></textarea>
      <div id="editor"></div>
      <script>
        var editor = ace.edit("editor");
        editor.setKeyboardHandler("ace/keyboard/vim");

        var textarea = $('textarea[name="markdown"]').hide();
        editor.getSession().setValue(textarea.val());
        editor.getSession().on('change', function(){
          textarea.val(editor.getSession().getValue());
          });
        editor.focus();
      </script>
      <br>
      <br>
      <a href="javascript:history.back();">Cancel</a>
      <div class="btn-group pull-right">
        <input class="btn btn-primary" type="submit" value="Save Changes"></input>
      </div>
      <br><br>
    <% end %>
  </div>
</div>
