<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700,300' rel='stylesheet' type='text/css'>
<%= stylesheet_link_tag 'entries' %>
<div class="entry">
  <%= form_tag "/entries/#{@entry.path}" do %>
    <h2><%= @entry.formatted_date_time %></h2>
    <textarea name=""><%= @entry.markdown %></textarea>
    <br>
    <a href="javascript:history.back();">Cancel</a>
    <input class="btn btn-primary pull-right" type="submit" value="Save Changes"></input>
  <% end %>
</div>
