<div class="container entries-log">
  <% @log_entries.each do |log_entry| %>
    <div class="entries-log-entry">
      <h5><%= log_entry[:author] %> <%= log_entry[:date].strftime("%D") %> (<%= time_ago_in_words(log_entry[:date]) %>)</h5>
      <pre><%= log_entry[:diff].chomp %></pre>
    </div>
  <% end %>
<div>
