<script src="/assets/ace/ace.js" type="text/javascript" charset="utf-8"></script>

<div class="container">
  <%= stylesheet_link_tag 'entries' %>
  <div class="entry entry-edit clearfix">
    <%= form_tag "/entries/#{@entry.path}", role: "form" do %>
      <div class="title-area">
        <input class="btn btn-primary pull-right" type="submit" value="Save Changes"></input>
        <h2 class="entry-title"><%= @entry.formatted_date_time %>&nbsp;</h2>
      </div>
      <%= render 'editor' %>
    <% end %>
  </div>
</div>

<script>
  require(['ace/ace'], function (ace) {
    var editor = ace.edit("editor");
    editor.setKeyboardHandler("ace/keyboard/vim");
    editor.renderer.setShowGutter(false);

    var textarea = $('textarea[name="markdown"]').hide();
    editor.getSession().setValue(textarea.val());
    editor.getSession().on('change', function(){
      textarea.val(editor.getSession().getValue());
      });
    editor.focus();
  })
</script>
