<html>
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <title>Line Break Service Demo</title>
  <%= javascript_include_tag "jquery" %>
  <script type="text/javascript" charset="utf-8">
    $(function() {
      var form = $("#lbs_test_form"),
          resultsDiv = $("#results");

      form.submit(function(e) {
        e.preventDefault();
        var postData = form.serializeArray(),
            width    = $('#width').val(),
            formURL  = form.attr("action");

        $.ajax({
          url: formURL,
          type: "POST",
          dataType: 'jsonp',
          data: postData,
          success:function(data, textStatus, jqXHR) {
            //data: return data from server
            resultsDiv.html(data["html"]);
            resultsDiv.css({width: width});
          },
          error: function(jqXHR, textStatus, errorThrown) {
            //if fails
            console.log("failed");
          }
        });

        return false;
      });

    });
  </script>

  <style type="text/css" media="screen">
    body {
      font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
      font-weight: 300;
    }

    #lbs_test_form {
      width: 750px;
      float: left;
    }

    #results {
      width: 400px;
      float: left;
    }

    #results .typeset {
      font-family: "Minion Pro", Gentium, "Gentium Basic", "Hoefler Text", Constantia, "Palatino Linotype", Georgia, serif;
      font-size: 16px;
      word-spacing: -1px;
      text-align: justify;
      text-indent: 40px;
      color: #484c55;
      line-height: 1.42857;
    }

    #results p .line {
      white-space: nowrap;
    }

    #results p .line:after {
      content: ' ';
      white-space: normal;
    }
  </style>

</head>

<body>
<h1 id="line_break_service_demo">Line Break Service Demo</h1>

<form id="lbs_test_form" action="http://localhost:9000" method="get" accept-charset="utf-8">
  <label for="width">Width</label><input type="text/submit/hidden/button" name="width" value="284" id="width">
  <label for="height">Height</label><input type="text/submit/hidden/button" name="height" value="200" id="height">
  <label for="overflow_reserve">Overflow Reserve</label><input type="text/submit/hidden/button" name="overflow_reserve" value="50" id="overflow_reserve">
  <input type="submit" value="Continue →"> <br>
  <textarea name="html" rows="40" cols="100">
<p>
  Four score and seven years ago our fathers brought forth on this continent, a
  new nation, conceived in Liberty, and dedicated to the proposition that all
  men are created equal.
</p>
<p>
  Now we are engaged in a great civil war, testing whether that nation, or any
  nation so conceived and so dedicated, can long endure. We are met on a great
  battle-field of that war. We have come to dedicate a portion of that field, as a
  final resting place for those who here gave their lives that that nation might
  live. It is altogether fitting and proper that we should do this.
</p>
<p>
  But, in a larger sense, we can not dedicate -- we can not consecrate -- we can
  not hallow -- this ground. The brave men, living and dead, who struggled here,
  have consecrated it, far above our poor power to add or detract. The world will
  little note, nor long remember what we say here, but it can never forget what
  they did here. It is for us the living, rather, to be dedicated here to the
  unfinished work which they who fought here have thus far so nobly advanced. It
  is rather for us to be here dedicated to the great task remaining before us --
  that from these honored dead we take increased devotion to that cause for which
  they gave the last full measure of devotion -- that we here highly resolve that
  these dead shall not have died in vain -- that this nation, under God, shall
  have a new birth of freedom -- and that government of the people, by the people,
  for the people, shall not perish from the earth.
</p>
  </textarea>

</form>

<div id="results">

</div>

</body>
<html>
