.canvas-item-view {
  position: absolute;

  transition: border-color .5s;

  &.hovered {
    border: 1px dashed #ccc;
  }

  border: 1px dashed transparent;


  &.resizable {
    border: 1px dashed gray;


    .drag-handle {
      border: 1px solid gray;
      width: 8px; height: 8px;
      position: absolute;
      background-color: white;
      box-shadow: 0 0 1px #ccc;

      &.selected {
        background-color: #efefef;
        border-color: #777;
      }


      &.top {
        top: -4px;
        left: 50%;
        margin-left: -4px;
      }

      &.bottom {
        bottom: -4px;
        left: 50%;
        margin-left: -4px;
      }

      &.left {
        left: -4px;
        top: 50%;
        margin-top: -4px;
      }

      &.right {
        right: -4px;
        top: 50%;
        margin-top: -4px;
      }

      &.top-left {
        top: -4px;
        left: -4px;
      }

      &.top-right {
        top: -4px;
        right: -4px;
      }

      &.bottom-left {
        bottom: -4px;
        left: -4px;
      }

      &.bottom-right {
        bottom: -4px;
        right: -4px;
      }
    }
  }

}

.headline-view {
  &.edit-mode {
    .drag-handle {
      background-color: gray;
    }
  }
}

.cursor-position {
  border-right: 1px solid gray !important;
}
