.compose-toolbar-panel {
  /*background-color: #484c55;*/
  background-color: #35383f;
  border-bottom: 2px solid #ccc;
  margin-top: -2px;

  .container {
    width: 1184px;
    margin: 0 auto;
    color: white;
  }

}
