.headline-control {
  position: relative;
  display: block;
  overflow: hidden;
  &:hover {
    .headline-tools {
      opacity: 1;
      transition: opacity .2s;
    }
  }
}

.headline-tools {
  opacity: 0;
  border-radius: 2px;
  transition: opacity .2s;
  background-color: #484c55;
  color: #eee;
  position: absolute;
  right: 0;
  top: 0;
  font-family: 'Raleway', sans-serif;
  font-size: 10pt;

  -webkit-user-select: none;
  user-select: none;

  span {
    /*padding: 10px;*/
    cursor: pointer;
  }

  .control-btn {
    padding: 2px 10px;
    display: inline-block;
  }
}

.nt-pick-font {
  display: inline-block;
  padding: 2px;
}

.nt-adjust-size {
  display: inline-block;
}

.current-font-size {
  background: transparent;
  color: #eee;
  border: none;
  width: 50px;
  text-align: center;
}

input:focus { outline: none; }
