.headline-toolbar {
  white-space: nowrap;
  left: 0;
  top: 200px;
  border-radius: 2px;
  transition: opacity .2s;
  background-color: #484c55;
  color: #eee;
  position: absolute;
  font-family: 'Raleway', sans-serif;
  font-size: 10pt;
  padding: 2px;

  -webkit-user-select: none;
  user-select: none;

  span {
    /*padding: 10px;*/
    cursor: pointer;
  }

  select {
  }

  .headline-style {
    display: none;
  }

  .control-btn {
    padding: 2px 10px;
  }

  .nt-control {
    background: transparent;
    color: #eee;
    border: none;
    width: 50px;
    text-align: center;
  }

}
