.headline-control {
  position: relative;
  display: block;
  overflow: hidden;
  &:hover {
    .headline-tools {
      opacity: 1;
      transition: opacity .2s;
    }
  }
}


.headline-tools {
  white-space: nowrap;
  right: 0;
  opacity: 0;
  border-radius: 2px;
  transition: opacity .2s;
  background-color: #484c55;
  color: #eee;
  position: absolute;
  font-family: 'Raleway', sans-serif;
  font-size: 10pt;
  padding: 2px;

  -webkit-user-select: none;
  user-select: none;

  span {
    /*padding: 10px;*/
    cursor: pointer;
  }

  select {
    display: inline-block;
  }

  .headline-style {
    display: none;
  }

  .control-btn {
    padding: 2px 10px;
    display: inline-block;
  }

  .nt-control {
    background: transparent;
    color: #eee;
    border: none;
    width: 50px;
    text-align: center;
  }

}


.nt-adjust-size {
  display: inline-block;
}

input:focus { outline: none; }
