.html-code-editor-window {

  opacity: 0.8;
  transition: opacity 0.7s;

  &.hovered {
    opacity: 1;
  }

  textarea {
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    font-size: 14pt;
    resize: none;
    outline: none;
    color: #444;
    background-color: white;
    padding: 7px 14px;
    border: 0;
    vertical-align: bottom; /* Removes extra padding/space at bottom of textarea http://stackoverflow.com/a/13155658 */
  }

  .palette-body {
    padding: 0 !important;
    overflow: hidden !important;
  }

  .buttons {
    button {
      margin: 0;
      border: none;
      background-color: transparent;
      outline: none;
      color: #dddbdb;
      font-weight: 100;
    }
  }


}
