.menu-view {
  background-color: #484c55;
  width: 100%;
  height: 25px;

  // Ensure nothing can be highlighted with a user drag (Which breaks the
  // solidness of the ui)
  -webkit-user-select: none;

  .container {
    margin: auto;
    width: 1184px;
    position: relative;
  }

  span.menu-title {
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    font-size: 10pt;
    color: #ccc;
    line-height: 25px;
    display: inline-block;
    padding: 0 10px;
    margin: 0;
    float: left;

    &.hover {
      /*background-color: #2e3137;*/
    }

    &.open {
      background-color: #2e3137;
    }
  }

  .menu-body {
    position: absolute;
    background-color: white;
    min-width: 100px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
    padding-bottom: 5px;
    border-radius: 0 0 2px 2px
  }

  .menu-item {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 10pt;
    line-height: 25px;
    padding: 0 10px 0 20px;
    color: black;

    &.hover {
      color: white;
      background-color: #663b9c;
    }

    .quick-key {
      margin-left: 50px;
      float: right;
    }
  }



  svg {
    float: left;
    height: 18px;
    margin-top: 4px;
    fill: #ccc;
    margin-left: -28px;
    margin-right: -15px;
  }

}
