.menu-view {
  background-color: #484c55;
  width: 100%;
  height: 25px;

  // Ensure nothing can be highlighted with a user drag (Which breaks the
  // solidness of the ui)
  -webkit-user-select: none;

  .container {
    margin: auto;
    width: 1184px;
    /*padding-left: 20px;*/
  }

  span.menu-title {
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    font-size: 10pt;
    color: #ccc;
    display: block;
    line-height: 25px;
    float: left;
    margin-right: 20px;
  }

  svg {
    float: left;
    height: 18px;
    margin-top: 4px;
    fill: #ccc;
    margin-left: -28px;
    margin-right: -15px;
  }

}
