.menu-view {
  background-color: #fff;
  width: 100%;
  height: 61px;

  // Ensure nothing can be highlighted with a user drag (Which breaks the
  // solidness of the ui)
  -webkit-user-select: none;

  .container {
    margin: auto;
    width: 1184px;
    position: relative;
  }

  span.menu-title {
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    font-size: 13pt;
    color: white;
    line-height: 35px;
    display: inline-block;
    padding: 0 13px;
    margin: 0;
    float: left;

    &.hover {
      /*background-color: #2e3137;*/
    }

    &.open {
      background-color: #467Eff;
    }
  }

  button.menu-button {
    opacity: .7;
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    font-size: 19pt;
    line-height: 27pt;
    color: #9e0f93;
    display: inline-block;
    padding: 0 13px;
    margin: 10px 7px;
    float: left;
    border: 1px solid pink;
    border-width: 2px 4px 4px 2px;
    border-radius: 7px;
    transition: opacity .2s;
    background: none;

    &.hover {
      opacity: 1;
      border-color: lightblue;
      cursor: pointer;
    }

    &.pushed {
      margin: 12px 7px 5px 9px;
      border-width: 2px;
      transition: border 200ms, margin 200ms;
    }
  }

  .menu-body {
    position: absolute;
    background-color: white;
    min-width: 100px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
    padding-bottom: 5px;
    border-radius: 0 0 2px 2px
  }

  .menu-item {
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    font-size: 13pt;
    line-height: 32px;
    padding: 0 12px 0 22px;
    color: black;

    &.hover {
      color: white;
      background-color: #663b9c;
    }

    .quick-key {
      margin-left: 50px;
      float: right;
    }
  }

  svg {
    float: left;
    height: 55px;
    margin-top: 2px;
    fill: #F5DB38;
    margin-left: -28px;
    margin-right: -15px;
  }

}
