.newstime-palette-view { /* palette */
  -webkit-user-select: none;
  /*left: 0;*/
  /*top: 200px;*/
  background-color: #501d7d;
  border-radius: 4px 4px 2px 2px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
  color: #eee;
  font-family: 'Raleway', sans-serif;
  font-size: 11pt;
  font-weight: 100;
  padding: 0;
  position: absolute;
  user-select: none;
  white-space: nowrap;
  width: 180px;
  z-index: 1000;

  &.hovered {
    .title-bar {
      background-color: #62329e;
    }
  }

  .dismiss {
    float: right;
    padding: 3px;
    cursor: default;

    &:before {
      content: "";
      width: 13px; height: 13px;
      background-image: asset-url('palette_dismiss.png');
      background-position: left;
      background-repeat: no-repeat;
      background-size: 39px 13px;
      display: block;
    }
    &:hover {
      &:before {
        background-position: center;
      }
    }

    &:active {
      &:before {
        background-position: right;
      }
    }
  }

  .palette-body {
    position: absolute;
    top: 25px;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 7px;
    overflow-y: scroll;
    text-shadow: 1px 1px 1px #131313;

    &::-webkit-scrollbar {
      width: 5px;
    }
    &::-webkit-scrollbar-thumb {
      background: lightpink;
    }
  }


  .title-bar {
    padding: 2px;
    border-radius: 4px 4px 0 0;
    background-color: #583288;
    cursor: -webkit-grab;
    height: 22px;
  }

  .title-bar.grabbing {
    cursor: -webkit-grabbing;
  }

  button {
    color: #2e3137;
  }

  .bottom-right-drag-handel {
    /*background-color: purple;*/
    width: 10px;
    height: 10px;
    bottom: 0;
    right: 0;
    position: absolute;
  }

}
