.newstime-palette-view.newstime-color-palatte {
  margin: 0;

  .palette-body {
    padding: 0;
    overflow: scroll;
  }

  ul {
    margin: 0;
    list-style: none;
    padding: 0;
  }

  li {
    list-style: none;
    margin: 0;
    padding: 5px 10px 5px 37px;
    border-bottom: 1px solid rgba(255,255,255,.05);
    cursor: default;
    text-overflow: ellipsis;
    width: 100%;
    overflow: hidden;
    position: relative;

    &:hover {
      border-bottom: 1px solid rgba(255,255,255,.1);
    }
  }

  .swatch {
    position: absolute;
    top: 4px;
    left: 10px;
    height: 20px;
    width: 20px;
  }

  .page-color,
  .ink-color {
    &.active {
      swatch {
        box-shadow: 0 0 5px #46c2f6;
      }
    }
  }

}
