.newstime-palette-view { /* palette */
  width: 180px;
  white-space: nowrap;
  left: 0;
  top: 200px;
  border-radius: 2px;
  transition: opacity .2s;
  background-color: #484c55;
  color: #eee;
  position: absolute;
  font-family: 'Raleway', sans-serif;
  font-size: 10pt;
  padding: 0;
  border-radius: 4px;
  z-index: 1000;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
  -webkit-user-select: none;
  user-select: none;

  .dismiss {
    float: right;
    padding: 3px;
    cursor: default;

    &:before {
      content: "";
      width: 13px; height: 13px;
      background-image: asset-url('palette_dismiss.png');
      background-position: left;
      background-repeat: no-repeat;
      background-size: 39px 13px;
      display: block;
    }
    &:hover {
      &:before {
        background-position: center;
      }
    }

    &:active {
      &:before {
        background-position: right;
      }
    }
  }

  .palette-body {
    padding: 7px;
  }

  .title-bar {
    padding: 8px;
    border-radius: 4px 4px 0 0;
    background-color: #2e3137;
    cursor: -webkit-grab;
  }

  .title-bar.grabbing {
    cursor: -webkit-grabbing;
  }

  button {
    color: #2e3137;
  }

}
