.newstime-toolbox { /* palette */
  border-radius: 4px;
  width: 68px;
  white-space: nowrap;
  left: 10px;
  top: 20px;
  transition: opacity .2s;
  background-color: #484c55;
  color: #eee;
  position: absolute;
  font-family: 'Raleway', sans-serif;
  font-size: 10pt;
  padding: 0;
  border-radius: 2px;
  z-index: 1000;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
  -webkit-user-select: none;
  user-select: none;

  &.hovered {
    .title-bar {
      background-color: #26292d;
    }
  }

  .dismiss {
    display: none;
    float: right;
    padding: 0px;
    cursor: default;

    &:before {
      content: "";
      width: 13px; height: 13px;
      background-image: asset-url('palette_dismiss.png');
      background-position: left;
      background-repeat: no-repeat;
      background-size: 39px 13px;
      display: block;
    }
    &:hover {
      &:before {
        background-position: center;
      }
    }

    &:active {
      &:before {
        background-position: right;
      }
    }
  }

  .palette-body {
    padding: 2px;
    height: 110px;
  }

  .title-bar {
    padding: 5px;
    min-height: 22px;
    border-radius: 4px 4px 0 0;
    background-color: #2e3137;
    cursor: -webkit-grab;
  }

  .title-bar.grabbing {
    cursor: -webkit-grabbing;
  }

  button {
    color: #2e3137;
  }

  .toolbox-button {
    &.hovered {
      border: 1px solid #5c616f;
    }
    &.selected {
      border: 1px solid #5c616f;
      -moz-box-shadow:    inset 0 0 10px #212327;
      -webkit-box-shadow: inset 0 0 10px #212327;
      box-shadow:         inset 0 0 10px #212327;
    }
    transition: border .2s;
    width: 30px;
    height: 30px;
    border: 1px solid #515560;
    /*float: left;*/
    position: absolute;
    margin: 1px;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 11px;
  }

  .select-tool {
    background-image: asset-url('select_tool.png');
  }

  .type-tool {
    background-image: asset-url('type_tool.gif');
    background-size: 16px;
  }

  .headline-tool {
    background-image: asset-url('headline_tool.png');
  }

  .photo-tool {
    background-image: asset-url('photo_tool.png');
    background-size: 16px;
  }

  .video-tool {
    background-image: asset-url('video_tool.png');
    background-size: 16px;
  }

  .divider-tool {
    background-image: asset-url('divider_tool.gif');
    background-size: 16px;
  }

}
