.newstime-create-color {
  button {
    margin: 7px 0 7px 30px;
  }

  .color-preview {
    width: 200px;
    height: 200px;
    /*background-color: hsl(0, 50, 50);*/
    margin: 10px auto;
  }

  input[type=range] {
    margin: 10px 0 10px 25px;
    width: 200px;
  }

}
