.newstime-properties-panel {

  width: 200px;

  font-size: 8pt;
  font-weight: 100;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    max-height: 200px;
    overflow: scroll;
  }

  .palette-body {
    min-height: 150px;
    margin: 0;
    padding: 0;
  }

  li {
    margin: 0;
    padding: 4px 10px 2px;
    border-bottom: 1px solid rgba(255,255,255,.05);

    /*&:last-child{*/
      /*border-bottom-width: 2px;*/
    /*}*/
  }

  select {
    opacity: .5;
  }


  label {
    font-weight: 100;
    width: 50px;
    margin-right: 20px;
    text-align: right;

  }

  input {
    width: 50px;
    background: transparent;
    border: 1px solid rgba(255,255,255,.1);
    padding: 2px 5px;
  }

  &.hovered {

    .title-bar {
      background-color: #26292d;
    }
  }

}
