.pages-panel {
  margin: 0;

  .palette-body {
    padding: 0;
    overflow: scroll;
    height: 180px;
  }

  font-size: 8pt;
  font-weight: 100;

  ol {
    margin: 0;
    list-style: none;
    padding: 0;
  }

  li {
    margin: 0;
    padding: 5px 10px 5px 30px;
    border-bottom: 1px solid rgba(255,255,255,.05);
    cursor: default;

    &:hover {
      border-bottom: 1px solid rgba(255,255,255,.1);
    }
  }

  .indent-level-1 {
    padding-left: 35px;
  }

  .indent-level-2 {
    padding-left: 45px;
  }

  li.selected {
    font-weight: 500;
  }

  .pages-panel-page {
    background-image: asset-url('down_caret.png');
    background-repeat: no-repeat;
    background-position: 13px 10px;
    background-size: 10px;

    &.collasped {
      background-image: asset-url('right_caret.png');
      background-position: 16px 7px;
      background-size: 5px;
    }
  }

}
