.pages-panel {
  margin: 0;

  .palette-body {
    padding: 0;
  }

  font-size: 8pt;
  font-weight: 100;

  ol {
    margin: 0;
    list-style: none;
    padding: 0;
  }

  li {
    margin: 0;
    padding: 5px 10px 5px 20px;
    border-bottom: 1px solid rgba(255,255,255,.05);
    cursor: default;
  }

  .indent-level-1 {
    padding-left: 30px;
  }

  .selected {
    font-weight: 500;
  }

}
