
// If safari browser, the safari class will be added to the body element.
body.safari {

  span.menu-title {
    font-weight: 300;
  }

  .newstime-palette-view {
    font-weight: 300;
  }

  .pages-panel {
    font-weight: 300;
  }

  .newstime-properties-panel label {
    font-weight: 300;
  }

  .compose-toolbar nav a {
    font-weight: 300;
  }

}
