.selection-view {
  $bubble-size: 16px;

  border: 1px dotted gray;
  position: absolute;


  &.resizable {
    border: 1px dashed gray;

    &.edit-mode {
      .drag-handle {
        background-color: gray;
      }
    }


    .drag-handle {
      border: 1px solid rgba(128, 128, 128, .7);
      width: $bubble-size; height: $bubble-size;
      border-radius: 50%;
      position: absolute;
      background-color: rgba(255, 255, 255, .3);
      box-shadow: 0 0 1px #ccc;

      &.hovered {
        background-color: rgba(255, 255, 255, .7);
        border-color: rgba(119, 119, 119, .7);
      }

      &.selected {
        background-color: rgba(221, 221, 221, .7);
        border-color: rgba(119, 119, 119, .7);
      }



      &.top {
        top: -$bubble-size/2;
        left: 50%;
        margin-left: -$bubble-size/2;
      }

      &.bottom {
        bottom: -$bubble-size/2;
        left: 50%;
        margin-left: -$bubble-size/2;
      }

      &.left {
        left: -$bubble-size/2;
        top: 50%;
        margin-top: -$bubble-size/2;
      }

      &.right {
        right: -$bubble-size/2;
        top: 50%;
        margin-top: -$bubble-size/2;
      }

      &.top-left {
        top: -$bubble-size/2;
        left: -$bubble-size/2;
      }

      &.top-right {
        top: -$bubble-size/2;
        right: -$bubble-size/2;
      }

      &.bottom-left {
        bottom: -$bubble-size/2;
        left: -$bubble-size/2;
      }

      &.bottom-right {
        bottom: -$bubble-size/2;
        right: -$bubble-size/2;

      }
    }
  }
}
