.status-indicator {
  position: fixed;
  z-index: 200;
  bottom: 0px;
  left: 0px;
  border-radius: 0 5px 0 0;
  background-color: #484c55;
  padding: 2px 5px;
  font-size: 8pt;
  color: #eee;
  font-family: 'Raleway';
  height: 20px;
  min-width: 20px;


  &.fade-out {
    -webkit-transition: opacity .5s;
    transition: opacity .5s;
    opacity: 0;
  }

  &.unsaved-changes {
    &:before {
      content: "•";
      display: inline-block;
      margin-right: 2px;
    }
  }
}
