.status-indicator {
  position: fixed;
  z-index: 200;
  bottom: 0px;
  left: 0px;
  font-size: 8pt;
  color: #eee;
  font-family: 'Raleway';
  height: 20px;

  .unsaved-changes-indicator {

    background-color: #484c55;
    border-radius: 0 5px 0 0;
    left: 0;
    padding: 2px 6px;
    position: absolute;
    top: 1px;
    z-index: 2;

    &.fade-out {
      -webkit-transition: opacity .5s;
      transition: opacity .5s;
      opacity: 0;
    }

  }
  .status-indicator-message {

    background-color: #484c55;
    border-radius: 0 5px 0 0;
    display: inline-block;
    float: left;
    left: 0;
    padding: 2px 5px 2px 20px;
    position: absolute;
    top: 1px;
    z-index: 1;

    &.fade-out {
      -webkit-transition: opacity .5s;
      transition: opacity .5s;
      opacity: 0;
    }

  }
}
