.story-text-tool-palette { /* palette */
  width: 180px;
  white-space: nowrap;
  left: 0;
  top: 200px;
  border-radius: 2px;
  transition: opacity .2s;
  background-color: #484c55;
  color: #eee;
  position: absolute;
  font-family: 'Raleway', sans-serif;
  font-size: 10pt;
  padding: 0;
  border-radius: 4px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, .2);

  .dismiss {
    float: right;
    padding: 3px;

    &:before {
      content: "";
      width: 13px; height: 13px;
      background-image: asset-url('palette_dismiss.png');
      background-position: left;
      background-repeat: no-repeat;
      background-size: 39px 13px;
      display: block;
    }
    &:hover {
      &:before {
        background-position: center;
      }
    }

    &:active {
      &:before {
        background-position: right;
      }
    }
  }

  .story-delete {
    cursor: pointer;
  }

  .palette-body {
    padding: 7px;
  }

  .title-bar {
    padding: 8px;
    border-radius: 4px 4px 0 0;
    background-color: #2e3137;
    cursor: move;
  }

  -webkit-user-select: none;
  user-select: none;

  span {
    cursor: pointer;
  }

  select {
  }

  .control-btn {
    padding: 2px 10px;
  }

  .nt-control {
    background: transparent;
    color: #eee;
    border: none;
    text-align: center;
    width: 50px;
  }

}
