.text-area-properties {

  span {
    cursor: pointer;
  }

  .control-btn {
    padding: 2px 10px;
  }

  .nt-control {
    background: transparent;
    color: #eee;
    border: none;
    text-align: center;
    width: 50px;
  }

}
