.text-editor-panel {

  textarea {
    font-family: 'Raleway', sans-serif;
    resize: none;
    outline: none;
    color: white;
    padding: 7px;
    background-color: transparent;
    border: 0;
  }

  .palette-body {
    padding: 0;
  }


}
