<!-- Section Nav -->
<div class="row">
  <div class="col">
    <div class="sections-nav text-center">
      <a href="current">Main</a>
      •
      <a href="business">Business</a>
      •
      <a href="sports">Sports</a>
      •
      <a href="comics">Comics</a>
      •
      <a href="bay_area">Bay Area</a>
      •
      <a href="world">World/Nation</a>
    </div>
  </div>
</div>
