.crawdad_test {
  width: 270px;
  margin: 20px auto;
  word-spacing: -1px;
  display: block;
  text-align: justify;
  text-indent: 50px;
  line-height: 1.4em;
}

span.line {
  white-space: nowrap;
  /*display: inline-block;*/
}
