<div class="grid grid24">
  <div class="row">
    <div class="col">
      <br>
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
          </tr>
        </thead>
        <% @videos.each do |video| %>
          <tr>
            <td><%= link_to video.name, video %></td>
          <tr>
        <% end %>
      </table>
      <%= link_to 'New', new_video_path %>
    </div>
  </div>
</div>
