<div class="container">
  <a href="attachment/?days_ago=<%= params['days_ago'].to_i + 1 %>">← Previous Day</a>
  &nbsp;
  <a href="attachments/?days_ago=<%= params['days_ago'].to_i - 1 %>">Next Day →</a>
  &nbsp;
  <a href="attachments/">Today</a>

  <div class="container">
    <% @attachments.each do |attachment| %>
      <a href="<%= attachment.path %>"><%= attachment.name %></a>
    <% end %>
  </div>
</div>
