<link href='https://fonts.googleapis.com/css?family=Dosis:200|Exo:100,400,900|Raleway:300'
rel='stylesheet' type='text/css'>


<style>
body {
  background-color: #86d7d2;
  background-image: url(dots.png);
}

.newstime-love {
  font-family: 'Dosis';
  font-weight: 200;
  font-size: 72;
  color: black;
  margin: 50pt;
}

#sign-in {
  text-align: center;
  margin-top: 100pt;
}

input {
  border-radius: 7pt;
  border: 2pt solid white;
  outline: none;
  padding: 7pt 10pt;
  text-align: center;
  opacity: .7;
  margin: 0 0 5px;

  font-size: 22pt;
  font-weight: 100;
}

.zing-sang {
  color: #B8E9EF;
  background-color: #A05BDE;
  background: linear-gradient(to bottom, #A05BDE 0%, #A156AD 100%);
  border-radius: 15pt;
  padding: 11px 27px;
  border: 1px solid #D3ADE2;
  cursor: pointer;
}

.zing-sang:active {
  background: linear-gradient(to bottom, #A156AD 0%, #A05BDE 100%);
}

</style>


<div class='newstime-love'>newstime.love</div>
<form id="sign-in" method="POST" >
  <input placeholder='Screenname' name='screenname' type="text" onkeypress="enterSubmit(this, event)"></input>
	<br>
  <input placeholder='Password' name='password' type="password" onkeypress="enterSubmit(this, event)"></input>
	<br>
	<br>
  <input placeholder='Email' name='email' type="text" onkeypress="enterSubmit(this, event)"></input>
	<br>
	<br>
  <button class="zing-sang">Make my Fabulous Account</button>
</form>


<script>
function enterSubmit(field, event) {
  if(event.which==13){ field.form.submit(); }
}


</script>
