<link href='https://fonts.googleapis.com/css?family=Dosis:200|Exo:100,400,900|Raleway:300'
rel='stylesheet' type='text/css'>

<style>
body {
  background-color: #86d7d2;
  background-image: url(dots.png);
}

.newstime-love {
  font-family: 'Dosis';
  font-weight: 200;
  font-size: 72;
  color: black;
  margin: 50pt;
}

#sign-in {
  text-align: center;
  margin-top: 100pt;
}

input {
  border: 2pt solid white;
  outline: none;
  padding: 7pt 10pt;
  text-align: center;
  opacity: .7;

  font-size: 22pt;
  font-weight: 100;
}

input[type=text] {
  border-radius: 7pt 7pt 0 0;
  margin: 0;

}

input[type=password] {
  border-radius: 0 0 7pt 7pt;
  margin: 0;

}

.free-account {
  font-family: 'raleway';
  text-align: center;
  color: white;
  margin: 50pt;
}

.free-account a {
  color: #A05BDE;
}

.sign-in {
  color: #B8E9EF;
  background-color: #A05BDE;
  background: linear-gradient(to bottom, #A05BDE 0%, #A156AD 100%);
  border-radius: 14pt;
  padding: 11px 27px;
  border: 2px solid #D3ADE2;
  cursor: pointer;
  font-weight: 500;
  font-family: 'Raleway';
  font-size: 12pt;
  outline: none;
}

.zing-sang:active {
  background: linear-gradient(to bottom, #A156AD 0%, #A05BDE 100%);
}

</style>


<div class='newstime-love'>newstime.love</div>
<form id="sign-in" method="POST" >
  <input name='screenname' type="text" onkeypress="enterSubmit(this, event)"></input>
  <br>
  <input name='password' type="password" onkeypress="enterSubmit(this, event)"></input>
  <br><br>
  <button class="sign-in">Sign In</button>
</form>

<div class="free-account">
  Don't have an account?<br>
  <a href="/hot-muffins">Sign up for free</a>
</div>

<script>
function enterSubmit(field, event) {
  if(event.which==13){ field.form.submit(); }
}


</script>
