<div class="grid grid24">
  <div class="row">
    <div class="col-xs-8">
      <h2>Edit Section</h2>
      <%= render 'form', section: @section, edition: @edition %>
      <br>
    </div>
  </div>
</div>
