<div class="masthead-artwork">
  <% if edition.masthead_artwork.try(:attachment) %>
    <%= image_tag edition.masthead_artwork.attachment.url, height: edition.masthead_artwork.height %>
  <% end %>
</div>
