<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
                       "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>notebox_web_unicorn</string>
    <key>ProgramArguments</key>
    <array>
      <string>sh</string>
      <string>-c</string>
      <string>/Users/blakefrost/projects/notebox_web/script/start_unicorn</string>
    </array>
    <key>KeepAlive</key><true/>
    <key>StandardErrorPath</key><string>/var/log/unicorn/unicorn.stderr.log</string>
    <key>LaunchOnlyOnce</key><true/>
  </dict>
</plist>
