<div class="container">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>
          Stories
        </th>
      </tr>
    </thead>
    <% @stories.each do |story| %>
      <tr>
        <td><%= link_to story.name, story %>
          <strong>
            (<%= link_to "Edit", edit_story_path(story) %>
              /
             <%= link_to "Delete", story, method: :delete, confirm: "Are you sure?" %>)
          </strong>
        </td>
      <tr>
    <% end %>
  </table>
  <%= link_to 'New', new_story_path %>

</div>
