<div class="grid grid24">
  <div class="row">
    <div class="col">
      <br>
      <table class="table">
        <thead>
          <tr>
            <th>
              Name
            </th>
            <th></th>
          </tr>
        </thead>
        <% @stories.each do |story| %>
          <tr>
            <td><%= link_to story.name, story %></td>
          <tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
