<!-- Masthead -->
<div class="row">
  <div class="col span24">
    <div class="masthead">
      <h1 class="sfrecord">San Francisco Record</h1>
      <a class="home" href="http://sfrecord.com">www.sfrecord.com</a>

      <div class="news-fit-to-sign">“All the News That's Fit to Sign”</div>
      <div class="buy-or-subscribe"><a href="/newstand">Buy or Subscribe</a><br><em>to support this paper</em></div>

      <div class="masthead-foot">
        <p class="volume pull-left">Edition No. 1</p>
        <p class="price pull-right">25¢</p>
        <p class="publish-date">Sunday, November 17, 2013</p>
      </div>
    </div>

    <!-- Mini Mast -->
    <div slidein-nav="true" class="ng-isolate-scope ng-scope slidein-nav" style="display: none; top: -48px;">
      <div class="mini-mast">
        <h1 class="sfrecord">
          <a href="#">San Francisco Record</a>
        </h1>
        <div class="buy-or-subscribe">
          <a href="/newstand">Buy or Subscribe</a>
        </div>
      </div>
    </div>
  </div>
</div>
