<div class="container">
  <h2>Backup</h2>

  <p>
    Is the backup media attached?
  </p>
  <p>
    Where is it locationed? (/Volumnes/Backup)
  </p>
  <h3>Artifacts/Sources to backup</h3>
  <ul>
    <li>Backup Notes (<%= NOTES_ROOT %>) (Move to ~/Notebox/notes</li>
    <li>Backup Images (<%= IMAGES_ROOT %>) (Move to ~/Notebox/images)</li>
    <li>Backup Attachments (~/Notebox/Attachments)</li>
    <li>Backup Todos (~/todos)</li>

    <li>Backup Code?</li>
  </ul>
  <button class="btn btn-primary">Backup Now</button>
</div>
