/* Tykker */
@font-face {
  font-family: 'Trykker';
  font-style: normal;
  font-weight: 400;
  src: local('Trykker Regular'), local('Trykker-Regular'), url(../fonts/trykker/Trykker-Regular.woff) format('woff');
}
