<div class="grid grid24">
  <div class="row">
    <div class="col">
      <br>
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Attachment</th>
            <th></th>
          </tr>
        </thead>
        <% @photos.each do |photo| %>
          <tr>
            <td><%= link_to photo.name, photo %></td>

            <td><%= image_tag photo.attachment.url(:small) %><br>
              <%= link_to photo.attachment.url, photo.attachment.styles  %></td>
            <td>
          <tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
