<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <%#= navbar_li "Sections", sections_path, active_path: sections_path  %>
        <%#= navbar_li "Pages", stories_path, active_path: stories_path %>
      </ul>
    </div>
  </div>
</nav>
