/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap
 *= require nprogress
 *= require nprogress-bootstrap
 *= require dropdown_submenu
 *= require entries
 */

body {
  padding-top: 75px;
}

.story-new {
  textarea {
    height: 300px;
  }
}

.btn-base {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 0;
  white-space: nowrap;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.add-page-btn {
  @extend .btn-base;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #ddd;
  width: 100%;

  &:focus {
    outline: 0;
  }
}
