.btn-base {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 0;
  white-space: nowrap;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.add-page-btn {
  @extend .btn-base;
  font-family: 'Raleway', sans-serif;
  background: #ccc;
  font-size: 12pt;
  color: #484c55;
  width: 100%;

  &:focus {
    outline: 0;
  }
}

.nt-compose-toolbar {
  background-color: #484c55;
  border-bottom: 2px solid #ccc;

  .container {
    height: 60px;
    width: 1184px;
    margin: 0 auto;
    color: white;
  }
  .newstime-logo {
    float: left;
    height: 53px;
    width: 165px;
    margin: 8px 22px 0;
    position: absolute;
    svg {
      height: 82px;
      fill: #ccc;
    }
  }
  nav {
    margin-left: 150px;
  }
  nav ul {
    font-family: 'Raleway', sans-serif;
    font-size: 15pt;
    float: left;
    display: block;
    margin-left: 50px;
    padding: 0;

    li {
      margin: 0;
      display: inline;
      a {
        padding: 11px 15px;
        color: #ccc;
        font-weight: 100;
        font-style: normal;
        position: relative;
        top: 16px;
        margin: 0;
      }
      a:hover  {
        text-decoration: none;
        cursor: pointer;
        color: white;
      }
    }
  }
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 100;
  src: local('Raleway Thin'), local('Raleway-Thin'), url(/assets/raleway/Raleway-Thin.woff) format('woff');
}
