.entry {
  padding: 2pt;
  margin: 1em 0;
  width: 600pt;
  position: relative;
  input[type='checkbox'] {
    margin-right: 2px;
  }

  .highlight {
    /*padding: 2px 4px;*/
    /*font-size: 90%;*/
    /*color: #c7254e;*/
    background-color: #ffff00;
    white-space: nowrap;
    /*border-radius: 4px;*/
  }

}
.entry-list {
  border-bottom: 1px solid #efefef;
  &:last-child {
    border-bottom: none;
  }
}



.entry img {
  max-width: 500px;
  border-radius: 4px;
}

.entry .edit {
  font-size: 12px;
  opacity: .5;
  font-weight: normal;
}

.entry .edit:hover {
  opacity: 1;
}

#editor {
  height: 100%;
  width: 595pt;
  top: 0;
  position: absolute;
  bottom: 0;
}

.entry-topics {
  list-style: none;
  li.active {
    font-weight: bold;
  }
}
