body {
  padding-top: 60px;
}

.entry {
  padding: 2pt;
  margin: 1em 0;
  width: 600pt;
}

.entry-list {
  border-bottom: 1px solid #efefef;
}

.entry img {
  max-width: 500px;
  border-radius: 4px;
}

.entry .edit {
  font-size: 12px;
  opacity: .5;
  font-weight: normal;
}

.entry .edit:hover {
  opacity: 1;
}

#editor {
  width: 595pt;
  height: 400px; /* Set up auto height */
}
