<h1 <%= "headline-control data-content-item-id=#{id}" if composing? %> style="<%= style %> <%= "top: #{top}px; left: #{left}px; position: absolute; z-index: #{z_index};" %>" class="headline"><%= text %></h1>
