<%#<hr class="news-column-double-rule">%>
<%#<hr class="short-hr">%>
<div <%= "story-text-control data-story-text-id=#{id}" if composing? %>>
  <a class="anchor" id="<%= anchor %>"></a>
  <%= rendered_html %>
</div>
