<% if notice %>
  <div class="grid grid24">
    <div class="row">
      <div class="col">
        <div class="alert alert-info">
          <%= notice %>
        </div>
      </div>
    </div>
  </div>
<% end %>
<% if alert %>
  <div class="grid grid24">
    <div class="row">
      <div class="col">
        <div class="alert alert-danger">
          <%= alert %>
        </div>
      </div>
    </div>
  </div>
<% end %>
