<% if notice %>
  <div class="alert alert-info alert-flash">
    <div class="grid grid24">
      <div class="row">
        <div class="col">
          <%= notice %>
        </div>
      </div>
    </div>
  </div>
<% end %>
<% if alert %>
  <div class="alert alert-danger alert-flash">
    <div class="grid grid24">
      <div class="row">
        <div class="col">
          <%= alert %>
        </div>
      </div>
    </div>
  </div>
<% end %>
