<% if notice %>
  <div class="container">
    <div class="alert alert-info">
      <p><%= notice %></p>
    </div>
  </div>
<% end %>
<% if alert %>
  <div class="container">
    <div class="alert alert-danger">
      <p class="alert"><%= alert %></p>
    </div>
  </div>
<% end %>
