<% if notice %>
  <div class="container">
    <div class="alert alert-info">
      <%= notice %>
    </div>
  </div>
<% end %>
<% if alert %>
  <div class="container">
    <div class="alert alert-danger">
      <%= alert %>
    </div>
  </div>
<% end %>
