<form class="navbar-form navbar-left" role="search" action="/entries/search">
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Search" name="q" value="<%= params[:q] %>">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
