<div class="compose-toolbar">
  <div class="container">
    <div class="newstime-logo">
      <a href="/"><%= render 'newstime_pendulum_logo' %></a>
    </div>
    <nav>
      <ul>
        <%= navbar_li "Editions", editions_path, active_path: editions_path  %>
        <%= navbar_li "Photos", photos_path, active_path: photos_path  %>
        <%= navbar_li "Videos", '/videos', active_path: '/videos'  %>
      </ul>
    </nav>
  </div>
</div>
