<ul class="nav navbar-nav navbar-right">
  <% if current_user %>
  <%= dropdown_menu "#{current_user.email} (#{current_user.organization.name}) <b class=\"caret\"></b>" do %>
      <%#= navbar_li "Profile", "/profile" %>
      <%#= navbar_li "Settings", "/settings" %>
      <%#= navbar_li "Change Password", edit_user_registration_path %>
      <%= navbar_li "User Settings", edit_user_registration_path %>
      <li class="divider"></li>
      <li>
        <%= link_to('Sign Out', destroy_user_session_path, :method => :delete) %>
      </li>
    <% end %>
  <% else %>
    <li>
      <%= link_to('Sign In', user_session_path) %>
    </li>
  <% end %>
</ul>
