<nav class="sidebar-nav">
  <ul>
    <%= navbar_li "Editions", editions_path, active_path: editions_path  %>
    <%= navbar_li "Stories", stories_path, active_path: stories_path %>
    <%= navbar_li "Photos", photos_path, active_path: photos_path  %>
    <%= navbar_li "Video", '/videos', active_path: '/videos'  %>
  </ul>
</nav>
