<div class="btn-group pull-right">
  <button type="button" class="btn btn-default">Save</button>
  <button type="button" class="btn btn-default">Publish</button>
  <button type="button" class="btn btn-default">Settings</button>
</div>
