.photo-index {
  .photo {
    img { width: 100%; }
  }
}

.photo-show {
  .photo img {
    width: 100%;
  }

}


.video-index {
  .video {
    img { width: 100%; }
  }
}

.video-show {
  .video img {
    width: 100%;
  }
}
