<%= javascript_include_tag "images" %>

<div class="container">
  <%= link_to "← Previous Day", options_url("/images", days_ago: @options[:days_ago].to_i + 1 ) %>
  &nbsp;
  <%= link_to "Next Day →", options_url("/images", days_ago: @options[:days_ago].to_i - 1 ) %>
  &nbsp;
  <a href="images/">Today</a>

  <div class="container">
    <% @images.each do |image| %>
      <img src="<%= image.src %>"></img>
    <% end %>
  </div>
</div>
